.about-section {
  background: linear-gradient(-45deg, #00c6ff, #0072ff, #4facfe, #00f2fe);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  min-height: 100vh;
  padding-bottom: 60px;
  color: #fff;
}

/* Gradient animation keyframes */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
